body {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-size:40px;
}

header {
    
}

#portfolio {

}

#customers {

}

#portfolio ol {

}

#portfolio ol li {

}

#customers ul {

}

#customers ul li {

}